*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-image:url(../Imagenes/car-race-438467_1920.jpg) ; 
  display: block;
  
}
h1{
    text-align: center;
    color: #1f531f;
    font-size: 100px;
}
.registro{
    width: 700px;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
}
.registro h4{
    font-size: 40px;
    margin-bottom: 20px;
}
.control{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f531f;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.button{
    width: 100%;
    background: #1f531f;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}
.registroL{
  
    width: 700px;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.controlL{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f531f;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    display:block;
}
